.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-expand {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-figure {
  width: 0.92em;
  height: 1em;
  fill: initial;
}
.icon-growth {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
.icon-mobile {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
